html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.header {
    grid-row: 1/2;
    grid-column: 2/2;
    box-shadow: 0px 5px 5px gainsboro;
    padding: 0.5rem 3rem 0.5rem;
}
.sub-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.sub-header .search {
    display: flex;
    margin-inline-end: 2rem;
    align-items: center;
}

.sub-header .search input {
    border: none;
    background: rgb(229, 232, 232);
    width: 100%;
    border-radius: 5rem;
    padding: 0.5rem;
}

.sub-header .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-inline-start: 2rem;
    justify-content: end;
    font-weight: bold;
    font-size: large;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header .user-greeting{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.blue-button {
    border: none;
    border-radius: 3rem;
    color: white;
    font-weight: bold;
    padding:0.7rem 1.5rem 0.7rem;
    background: rgb(19, 152, 247);
}
.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
    height: 100%;
    padding-inline: 2rem;
    background: rgb(19, 152, 247);
}

.logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.logo .icon {
    max-width: 150px;
}

.navigation>*,
.options>* {
    display: grid;
    grid-template-columns: 50px 1fr;
    font-weight: bold;
    align-items: center;
    color: white;
}
.navigation>*:hover,
.options>*:hover {
    background: rgb(116, 186, 247);
    border-radius: 5px;
}
.navigation {
    margin-block-end: 2rem;
}

.icon {
    place-self: center;
    fill: white;
    max-width: 25px;
    min-width: 25px;
}

.icon-black {
    fill: black;
}

.avatar {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
}
.avatar-big{
    height: 5rem;
    width: 5rem;
}